---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/SergPG
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"23c63677e2f655b37fee53a2a60b356b396856b7840936424af4a55809ec26b6"
      Last-Modified:
      - Sat, 23 Jul 2022 17:41:12 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '7'
      X-Ratelimit-Reset:
      - '1658653300'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '53'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"SergPG","id":34673479,"node_id":"MDQ6VXNlcjM0NjczNDc5","avatar_url":"https://avatars.githubusercontent.com/u/34673479?v=4","gravatar_id":"","url":"https://api.github.com/users/SergPG","html_url":"https://github.com/SergPG","followers_url":"https://api.github.com/users/SergPG/followers","following_url":"https://api.github.com/users/SergPG/following{/other_user}","gists_url":"https://api.github.com/users/SergPG/gists{/gist_id}","starred_url":"https://api.github.com/users/SergPG/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SergPG/subscriptions","organizations_url":"https://api.github.com/users/SergPG/orgs","repos_url":"https://api.github.com/users/SergPG/repos","events_url":"https://api.github.com/users/SergPG/events{/privacy}","received_events_url":"https://api.github.com/users/SergPG/received_events","type":"User","site_admin":false,"name":"Serhii
        Popov","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":12,"public_gists":0,"followers":0,"following":0,"created_at":"2017-12-19T06:59:57Z","updated_at":"2022-07-23T17:41:12Z"}'
  recorded_at: Sun, 24 Jul 2022 08:53:09 GMT
- request:
    method: get
    uri: https://api.github.com/users/SergPG/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"00a731a8b0f2f276de2ca162de834ed06a9de284329d21ed1ea0bd4c118b8a95"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Reset:
      - '1658653300'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '54'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":485815770,"node_id":"R_kgDOHPT12g","name":"blog","full_name":"SergPG/blog","private":false,"owner":{"login":"SergPG","id":34673479,"node_id":"MDQ6VXNlcjM0NjczNDc5","avatar_url":"https://avatars.githubusercontent.com/u/34673479?v=4","gravatar_id":"","url":"https://api.github.com/users/SergPG","html_url":"https://github.com/SergPG","followers_url":"https://api.github.com/users/SergPG/followers","following_url":"https://api.github.com/users/SergPG/following{/other_user}","gists_url":"https://api.github.com/users/SergPG/gists{/gist_id}","starred_url":"https://api.github.com/users/SergPG/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/SergPG/subscriptions","organizations_url":"https://api.github.com/users/SergPG/orgs","repos_url":"https://api.github.com/users/SergPG/repos","events_url":"https://api.github.com/users/SergPG/events{/privacy}","received_events_url":"https://api.github.com/users/SergPG/received_events","type":"User","site_admin":false},"html_url":"https://github.com/SergPG/blog","description":null,"fork":false,"url":"https://api.github.com/repos/SergPG/blog","forks_url":"https://api.github.com/repos/SergPG/blog/forks","keys_url":"https://api.github.com/repos/SergPG/blog/keys{/key_id}","collaborators_url":"https://api.github.com/repos/SergPG/blog/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/SergPG/blog/teams","hooks_url":"https://api.github.com/repos/SergPG/blog/hooks","issue_events_url":"https://api.github.com/repos/SergPG/blog/issues/events{/number}","events_url":"https://api.github.com/repos/SergPG/blog/events","assignees_url":"https://api.github.com/repos/SergPG/blog/assignees{/user}","branches_url":"https://api.github.com/repos/SergPG/blog/branches{/branch}","tags_url":"https://api.github.com/repos/SergPG/blog/tags","blobs_url":"https://api.github.com/repos/SergPG/blog/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/SergPG/blog/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/SergPG/blog/git/refs{/sha}","trees_url":"https://api.github.com/repos/SergPG/blog/git/trees{/sha}","statuses_url":"https://api.github.com/repos/SergPG/blog/statuses/{sha}","languages_url":"https://api.github.com/repos/SergPG/blog/languages","stargazers_url":"https://api.github.com/repos/SergPG/blog/stargazers","contributors_url":"https://api.github.com/repos/SergPG/blog/contributors","subscribers_url":"https://api.github.com/repos/SergPG/blog/subscribers","subscription_url":"https://api.github.com/repos/SergPG/blog/subscription","commits_url":"https://api.github.com/repos/SergPG/blog/commits{/sha}","git_commits_url":"https://api.github.com/repos/SergPG/blog/git/commits{/sha}","comments_url":"https://api.github.com/repos/SergPG/blog/comments{/number}","issue_comment_url":"https://api.github.com/repos/SergPG/blog/issues/comments{/number}","contents_url":"https://api.github.com/repos/SergPG/blog/contents/{+path}","compare_url":"https://api.github.com/repos/SergPG/blog/compare/{base}...{head}","merges_url":"https://api.github.com/repos/SergPG/blog/merges","archive_url":"https://api.github.com/repos/SergPG/blog/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/SergPG/blog/downloads","issues_url":"https://api.github.com/repos/SergPG/blog/issues{/number}","pulls_url":"https://api.github.com/repos/SergPG/blog/pulls{/number}","milestones_url":"https://api.github.com/repos/SergPG/blog/milestones{/number}","notifications_url":"https://api.github.com/repos/SergPG/blog/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/SergPG/blog/labels{/name}","releases_url":"https://api.github.com/repos/SergPG/blog/releases{/id}","deployments_url":"https://api.github.com/repos/SergPG/blog/deployments","created_at":"2022-04-26T14:13:40Z","updated_at":"2022-04-26T14:16:14Z","pushed_at":"2022-05-13T21:40:14Z","git_url":"git://github.com/SergPG/blog.git","ssh_url":"git@github.com:SergPG/blog.git","clone_url":"https://github.com/SergPG/blog.git","svn_url":"https://github.com/SergPG/blog","homepage":null,"size":211,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"},{"id":270654496,"node_id":"MDEwOlJlcG9zaXRvcnkyNzA2NTQ0OTY=","name":"car","full_name":"SergPG/car","private":false,"owner":{"login":"SergPG","id":34673479,"node_id":"MDQ6VXNlcjM0NjczNDc5","avatar_url":"https://avatars.githubusercontent.com/u/34673479?v=4","gravatar_id":"","url":"https://api.github.com/users/SergPG","html_url":"https://github.com/SergPG","followers_url":"https://api.github.com/users/SergPG/followers","following_url":"https://api.github.com/users/SergPG/following{/other_us[...]
