<section class="py-3">
  <div class="container mt-5 px-5 my-2">

      <div class="row justify-content-center">
      <div class="col">

        <div class="card shadow">
          <div class="card-header">
            <!--  div #request_for_github -->
            <div class="input-group my-3" id="request_for_github">
              <input type="text" class="form-control" id="input_login_name" placeholder="Enter Login name" aria-label="Enter Login name" aria-describedby="button_send">
              <button class="btn btn-outline-dark" type="button" id="button_send">Send</button>
            </div>
            <!--  end div #request_for_github -->
          </div>
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
          <!--  card #github_result -->
          <div class="card shadow" id="github_result_info">
            <div class="card-header">
                <h5 class="card-title" id="user_info_name" > Serhii Popov</h5>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle text-muted">Repositorios:</h6>
            </div>
            <ul class="list-group list-group-flush" id="list_user_repos">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
          <!-- end card #github_result -->
      </div>
    </div>

  </div>
</section>
